*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.top .card{
  margin-top: -20px;
}

.Imgbg{
  height: 100vh;
  background-image:linear-gradient(rgb(232,232,232, 0.8),rgba(232,232,232,0.2)),url(../Images/Logo/main-bg.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  
}
.navbar .nav-item .nav-link{
  font-size: 20px;
  font-weight:bold;
  color:#003366;
  
}
.navbar ul li a:hover{
  
  background-color: #fff;
  border-radius: 20px;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('../Images/Logo/bg.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.logo img{
    
    width: 250px;
    height: 70px;
    margin-left: -50px;
    
    
}
.appointment-btn {
  text-decoration: none;
  margin-left: 25px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  
}

.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}
.Aptbtn button{
    margin-left: 0px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 16px;
    display: inline-block;
    border: none;
  }
  .Aptbtn button:hover{
    border-radius:20px;
    background-color: #003366;
  }
  main{
      width:100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  main .left-section
  {
      padding-left: 120px;
      margin-top: 80px;
     
  }
  main .left-section h6
  {
      
      margin-top: 150px;
      font-weight: bold;
     
  }
  main .left-section h2
  {
      
      font-size: 50px;
      color:#003366;
     
  }
  main .left-section p
  {
      font-weight: bold;
      font-size: 25px;
      color:#003366;
     
  }
  
  /*--------------------------------------------------------------
# Aboutus
--------------------------------------------------------------*/
  .about{
    background-color:#25334c;
    color:#fff;
  }
  .about h2:hover{
    color:#ed3c0d;
  }
  .about .title{
    padding-top: 50px;
  }
  .about .icon-box .values-item{
    list-style-type: none;
    margin-left: 10px;

  }
  
  
/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/

.doctors {
    background: #fff;
  }
.doctors .section-title{
  color:#003366;
  font-size: 50px;
  font-weight: bold;
}
  
  .doctors .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
  }
  
  .doctors .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
  }
  
  .doctors .member .pic img {
    transition: ease-in-out 0.3s;
  }
  
  .doctors .member:hover img {
    transform: scale(1.1);
  }
  
  .doctors .member .member-info {
    padding-left: 30px;
  }
  
  .doctors .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #2c4964;
  }
  
  .doctors .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  
  .doctors .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
  }
  
  .doctors .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  
  .doctors .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .doctors .member .social a {
    transition:  0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #a0bcd5;
  }
  
  .doctors .member .social a i {
    color: #fff;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .doctors .member .social a:hover {
    background: #1977cc;
  }
  
  .doctors .member .social a + a {
    margin-left: 8px;
  }
   /*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog-section{
  background-color:#99ebff;
  
}
.blog-section .section-title {
  color:#003366;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
}
.blog-section h2:hover{
  
  color:#ff9966;
}
.blog-section h4{
  margin-top: 20px;
  
}
.blog-section h4:hover{
  color:#003366;
  color:#ed3c0d;
  
}
#more{
  display: none;
}
#more1{
  display: none;
}
#more2{
  display: none;
}
.blog-section .card{
  border-radius: 20px;
}  
  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    background: #fff;
    
  }
  .services h2:hover{
    color: crimson;
  }
  .services h2{
    margin: 10px;
    color: #003366;
    font-size: 50px;
    font-weight: bold;
  }
 
  .services .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
    padding: 30px;
    border-radius: 10px;
  }
  .services .member:hover img {
    transform: scale(1.1);
  }
  .services .member .member-info {
    padding-left: 10px;
  }
  .services .member h4 {
    font-weight: 700;

    font-size: 20px;
    color: #2c4964;
  }
  .services .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  .services .member span::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #b2c8dd;
    bottom: 0;
    left: 0;
  }
  .services .member p {
    
    font-size: 15px;
  }
  .serviceImg img
  {
    
    border-radius:20%;
    width:100px;
    margin-top: -30px;
    padding-left: 20px;
  }
.carousel-cell {
  
  margin-right: 80px;
  box-shadow: 0px 0px 0px rgba(44, 73, 100, 0.08);
  border-radius: 20px;
  
}

.carousel-cell.is-selected {
  background:#fff;
}
.carousel-cell:before {
  display: block;
  text-align: center;

  line-height: 200px;
  font-size: 80px;
  color: white;
}
/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment{
  background-color:#ccffe6;
}
.appointment .appointment-form {
  width: 100%;
  
}
.appointment h2{
  font-size: 40px;
  font-weight: bold;
  color: #25334c;
  margin-top: 50px;

}
.appointment h2:hover{
  color:#ed3c0d;

}

.appointment .appointment-form .form-group {
  padding-bottom: 8px;
}

.appointment .appointment-form textarea{

  width: 100%;
}

.appointment .appointment-form input, .appointment .appointment-form textarea, .appointment .appointment-form select {
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;

}

.appointment .appointment-form input:focus, .appointment .appointment-form textarea:focus, .appointment .appointment-form select:focus {
  border-color: #1977cc;
}



.appointment .appointment-form textarea {
  padding: 10px 12px;
}

.appointment .appointment-form button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
  
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  margin-top: 50px;
}
.contact h1:hover{
  color: crimson;
}
.contact h1{
  margin: 10px;
  color: #003366;
  font-size: 50px;
  font-weight: bold;
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #1977cc;
  color: #fff;
}

.contact .contact-form {
  width: 100%;
  background: #fff;
}

.contact .contact-form .form-group {
  padding-bottom: 8px;
}

.contact .contact-form input, .contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .contact-form input {
  height: 44px;
}

.contact .contact-form textarea {
  padding: 10px 12px;
}

.contact .contact-form button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f7fd;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1c84e3;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #1977cc;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #bfdcf7;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #1977cc;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #1c84e3;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}

